.searchForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

form button {
    margin-top: 10px;
}

form input {
    width: 75%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    border-radius: 20px;
    padding: 5px 15px;
}

form input::placeholder {
    color: rgb(100, 100, 100);
}